.wrapper {
  padding-top: calc(var(--mantine-spacing-sm));
  padding-bottom: calc(var(--mantine-spacing-sm));
  min-height: 650px;
}

.title {
  margin-bottom: calc(var(--mantine-spacing-sm));
}

.item {
  border-radius: var(--mantine-radius-md);
  margin-bottom: var(--mantine-spacing-lg);
  border: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}
